<Configuration Hash="F/HKvkdlhkYeQ8RQrMIulJcpyaByDJEx">

  <Section Name="Exceptions">
    <ExceptionPolicies>
      <ExceptionPolicy ReThrow="true" Name="DataBase">
        <ExceptionTypes>
          <ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
        </ExceptionTypes>
        <ExceptionHandlers>
          <ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
          <ExceptionHandler>RoyalSystems.Core.Exceptions.UIHandler</ExceptionHandler>
        </ExceptionHandlers>
      </ExceptionPolicy>
      <ExceptionPolicy ReThrow="true" Name="WorkFlow">
        <ExceptionTypes>
          <ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
        </ExceptionTypes>
        <ExceptionHandlers>
          <ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
          <ExceptionHandler>RoyalSystems.Core.Exceptions.UIHandler</ExceptionHandler>
        </ExceptionHandlers>
      </ExceptionPolicy>
      <ExceptionPolicy ReThrow="true" Name="Application">
        <ExceptionTypes>
          <ExceptionType>System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</ExceptionType>
        </ExceptionTypes>
        <ExceptionHandlers>
          <ExceptionHandler>RoyalSystems.Core.Exceptions.LogHandler</ExceptionHandler>
        </ExceptionHandlers>
      </ExceptionPolicy>
    </ExceptionPolicies>
  </Section>
  <Section Name="Logs">
    <LoggingConfiguration>
      <Configuration Name="Exceptions" Running="true">
        <LogStorage>RoyalSystems.Core.Logs.FileLogStorage</LogStorage>
      </Configuration>
    </LoggingConfiguration>
  </Section>
  
  <Section Name="Security">
    <PageAccess>
      <Page>/Default.aspx</Page>
      <Page>/Login.aspx</Page>
      <Page>/RS/RS_Error.aspx</Page>
      <Page>/RS/RS_Download.aspx</Page>
      <Page>/RS/RS_UploadFile.aspx</Page>
      <Page>/RS/RS_UploadImage.aspx</Page>
      <Page>/RS/OracleConection.aspx.aspx</Page>
      <Page>/RS/Prueba.aspx</Page>
    </PageAccess>
    <AllowedExtensions>
      <Extension>axd</Extension>
      <Extension>asbx</Extension>
      <Extension>rdlc</Extension>
      <Extension>asmx</Extension>
      <Extension>css</Extension>
      <Extension>gif</Extension>
      <Extension>png</Extension>
      <Extension>jpg</Extension>
      <Extension>js</Extension>
    </AllowedExtensions>
  </Section>
  <Section Name="Connections">
    <Connections>
      <ConnectionGroup Name="SERVERSQL">  
        
     <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.0.8.54; Initial Catalog=WEB_ERPSALUD_CSB;          User ID=csbhce; password=csbhce17c$bs4nn4;</ConnectionString>
          <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.0.8.34; Initial Catalog=SpringSalud_ProduccionHCE; User ID=royal.jmateo; password=Royal.c$b_03$;</ConnectionString>     
  
     <!-- Pruebas CSB      
 
    <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=192.168.56.150; Initial Catalog=WEB_ERPSALUD_CSBT;          User ID=csbhce; password=csbhce17c$bs4nn4;</ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.0.8.160; Initial Catalog=SpringSalud_ProduccionT; User ID=csbhce; password=csbhce17c$bs4nn4;</ConnectionString>     
     
      -->
 
        <!--  Pruebas GOLF    
    
     <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.2.24,1435; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_rs;  password=PH(33Mer$2022; </ConnectionString>
      <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.2.24,1435; Initial Catalog=SpringSalud_Produccion; User ID=uAppErp_hce_rs; password=PH(33Mer$2022;</ConnectionString>
          
    
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.48,1433; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=QA_Spring;  password=S@4yD$bn22; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.48,1433; Initial Catalog=BI_SpringSalud_ProduccionQV; User ID=QA_Spring; password=S@4yD$bn22;</ConnectionString>
       
    
        <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51,1435; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=PruebaTI;  password=G0lf1@3@; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51,1435; Initial Catalog=BI_SpringSalud_ProduccionQV; User ID=PruebaTI; password=G0lf1@3@;</ConnectionString>

        <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51,1435; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=PruebaTI;  password=G0lf1@3@; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51,1435; Initial Catalog=BI_SpringSalud_ProduccionQV; User ID=PruebaTI; password=G0lf1@3@;</ConnectionString>
  
        <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75\SQL_HFM_QA_SANNA; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_sanna;  password=3#rx1X$4a1s#n9; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.2.1.26,1435; Initial Catalog=SpringSalud_produccion_HCE; User ID=uAppErp_hce_sanna; password=4p4#r1uers#A2021;</ConnectionString>

        <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75\SQL_HFM_QA_RS; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_rs;  password=4p4#r1uers#A; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.2.1.51; Initial Catalog=BI_SpringSalud_ProduccionQV; User ID=us_royal; password=Us18Hce#Spr;</ConnectionString>

        <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75\SQL_HFM_QA_RS; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_rs;  password=4p4#r1uers#A; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.2.1.51; Initial Catalog=BI_SpringSalud_ProduccionQV; User ID=us_royal; password=Us18Hce#Spr;</ConnectionString>
      -->
 
        
   <!-- Pruebas CSB 
    
  
		    <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.2.1.4; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=sa;password=Tivit$01; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.2.24; Initial Catalog=SpringSalud_Produccion; User ID=uWebHCE_ErpSalud; password=$erP20HceSelub;</ConnectionString>
   
  -->
 
        <!-- Pruebas GOLF      
        <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75\SQL_HFM_QA_SANNA; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_sanna;  password=3#rx1X$4a1s#n9; </ConnectionString>
        <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51\SQL_QA_SANNA; Initial Catalog=SpringSalud_ProduccionHCE; User ID=uAppErp_hce_sanna; password=3#rx1X$4a1s#n9;</ConnectionString>
  -->  
        <!-- Pruebas GOLF    
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75\SQL_HFM_QA_RS; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_rs;  password=4p4#r1uers#A; </ConnectionString>
      <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51\SQL_QA_RS; Initial Catalog=SpringSalud_ProduccionHCE; User ID=uAppErp_hce_rs; password=4p4#r1uers#A;</ConnectionString>
    -->
        <!--

  
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75\SQL_HFM_QA_RS; Initial Catalog=WEB_ERPSALUD_CEG;  User ID=uAppErp_hce_rs;  password=4p4#r1uers#A; </ConnectionString>
      <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51\SQL_QA_RS; Initial Catalog=SpringSalud_ProduccionHCE; User ID=uAppErp_hce_rs; password=4p4#r1uers#A;</ConnectionString>
      
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.75; Initial Catalog=WEB_ERPSALUD_CEG;          User ID=sa;       password=Sanna2018; </ConnectionString>
      <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.51; Initial Catalog=SpringSalud_ProduccionHCE; User ID=us_royal; password=Us18Hce#Spr;</ConnectionString>
     
      
      prueba CSB
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.0.8.159; User ID=Pruebas_HCE; Initial Catalog=WEB_ERPSALUD_CSB; password=Pruebas_HCE; </ConnectionString>
      <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=10.0.8.30; Initial Catalog=SpringSalud_ProduccionHCE; User ID=csbhce; password=csbhce17c$bs4nn4;</ConnectionString> 
      
      produccion CSB
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.0.8.23; Initial Catalog=WEB_ERPSALUD_CSB;          User ID=UserHCE; password=S@nn@.c$b_99;</ConnectionString>
      <ConnectionString Name="SB"	Encrypted="false" Provider="SqlServer"> Server=172.0.3.25; Initial Catalog=SpringSalud_ProduccionHCE; User ID=UserHCE; password=S@nn@.c$b_99;</ConnectionString>     
          
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=10.1.4.45; Initial Catalog=WEB_ERPSALUD_2; User ID=sa; password=hce123; </ConnectionString>
      <ConnectionString Name="AL"	Encrypted="false" Provider="SqlServer"> Server=172.0.3.30; User ID=csbhce; Initial Catalog=WEB_ERPSALUD_CSB; password=csbhce17c$bs4nn4; </ConnectionString>
      -->

      </ConnectionGroup>
    </Connections>
  </Section>

</Configuration>
